.content-title
  max-width $width-text
  margin $gap-huge auto $gap-large
  padding 0 $gap-normal $gap-small
  font-size $font-larger
  // border-radius $radius-normal
  text-align center
  border-bottom $border-small solid $light-gold
