.main-title
  margin $gap-larger $gap-normal
  padding 0 $gap-normal
  font-weight 200
  line-height 1
  text-align center
  background linear-gradient(to right, $gold, $gold)
  background-repeat no-repeat
  background-position 0 53%
  background-size 100% $border-small

  > .background
    background-color $white

    > .text
      position relative
      padding $gap-small
      box-decoration-break clone
