.top-bar
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  align-items: start;
  max-height: 100%;
  justify-content: space-evenly;
  padding: 0%;
  list-style: none;
  display: flex;
  background-color: #fff4b7;
  box-shadow: 0 0 0.5rem rgba(34,34,34,0.25);

  > .logo
    display inline-block
    padding: 0% 5%;
    line-height 1

    > img
      height: 250px;
      width: 350px;
      position: start;
