  
  {% set nav = collections.all | eleventyNavigation %}
  <ul class="navigation-bar">
    <li class="item">
      <a href="/index.html">Accueil</a>
    </li>
    {% for topEntry in nav %}
      <li class="item">
        <a href="{{ topEntry.url | url }}">{{ topEntry.title }}</a>
      </li>
    {% endfor %}
  </ul>

