
<div class="top-bar">
    <div class="logo"><img src="/images/logo.jpg" alt="Logo Mélipone Tattoo" width="400" height="400"></div>
    
    {% set nav = collections.all | eleventyNavigation %}
      <ul class="navigation-bar">
        <li class="item">
          <a href="/index.html">Accueil</a>
        </li>
        {% for topEntry in nav %}
          <li class="item">
            <a href="{{ topEntry.url | url }}">{{ topEntry.title }}</a>
          </li>
        {% endfor %}
        <li class="item">
          <a href="/contact/">Contact</a>
        </li>
      </ul>
  
</div>
