ul {
    margin: auto; 
    padding: 0em;
    left:0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-width: 400px;
    min-height: 400px;
    
}
ul.gallery li {
  display: inline-block;
  opacity: 1;
  padding: 0em;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;

}
ul.gallery img {
  padding: 8% 8%;
  height: 100%;
  width: 100%;
  max-width: 350px;
}
label {
  cursor: pointer;
  color: #fff;
  background: #5D6B74;
  padding: 5px 19px;
}
input {
  display: none;
}
img {
  padding: 5px;
  float: inline-grid;

}
/*Select Categorie*/	
input#flash:checked ~ .gallery li:not(.flash-item), input#projet:checked ~ .gallery li:not(.projet-item) {
  opacity: 0.1;
}