
*{box-sizing: border-box}

img {
    margin:auto;
    padding: 1em;
    max-width:100%;
}
.caroussel_diapo input {
    position:relative;
    left:0px;
}
    
.caroussel_diapo {	
    position:relative;
    text-align:center;
    margin: auto;
    padding: 1em;
    left:0;
}

.contenu_carou {
width:500px;
height:500px;
}

@media only screen and (max-width: 510px) {
  .contenu_carou {
        width:200px;
        height:200px;
        max-width: 100%;
    }
}

.caroussel {
    transform-style:preserve-3d;
    position:relative;
    height: 100%;
    width: 100%;
    transition:1s;
    left:0;
}

.caroussel img {
    position:absolute;
    top:0;
    left:0;
    outline:1px solid transparent;
    backface-visibility:hidden;
    transition:1s;
    height: 100%;
    width: 100%;
    
}

.caroussel img {
    filter:blur(3px);opacity:.8;
    }	
.caroussel img:nth-child(1) {
    transform:translate3d(0,0,540px) scale(.8);
    }
.caroussel img:nth-child(2) {
    transform:rotateY(45deg) translateZ(540px) scale(.8);
}
.caroussel img:nth-child(3) {
    transform:rotateY(90deg) translateZ(540px) scale(.8);
    }
.caroussel img:nth-child(4) {
    transform:rotateY(135deg) translateZ(540px) scale(.8);
    }
.caroussel img:nth-child(5) {
    transform:rotateY(180deg) translateZ(540px) scale(.8);
    }
.caroussel img:nth-child(6) {
    transform:rotateY(225deg) translateZ(540px) scale(.8);
    }
.caroussel img:nth-child(7) {
    transform:rotateY(270deg) translateZ(540px) scale(.8);
    }
.caroussel img:nth-child(8) {
    transform:rotateY(315deg) translateZ(540px) scale(.8);
    }

.caroussel_diapo input[type=radio] + label {
    cursor:pointer;
    background:$gold;
    display:inline-block;
    width:20px;
    border-radius:50%;
    height:20px;
	}
	
.caroussel_diapo input[type=radio]:checked + label {
    background:$black;
    }

.caroussel_diapo label {
    background:$black;
}

.caroussel_diapo input[name="rotation"]:checked ~ .contenu_carou .caroussel img:nth-child(n) {
	filter:drop-shadow(12px 12px 7px hsla(0,0%,0%,.5));
	}	

/*gauche*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel {
    transform:translateZ(-540px);
    }
.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel {
    transform:translateZ(-540px) rotateY(-45deg);
    }
.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel {
    transform:translateZ(-540px) rotateY(-90deg);
    }
.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel {
    transform:translateZ(-540px) rotateY(-135deg);
    }
.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel {
    transform:translateZ(-540px) rotateY(-180deg);
    }
.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel {
    transform:translateZ(-540px) rotateY(-225deg);
    }
.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel {
    transform:translateZ(-540px) rotateY(-270deg);
    }
.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel {
    transform:translateZ(-540px) rotateY(-315deg);
    }


/*droite*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel img:nth-child(1) {
    transform:translateZ(540px) scale(1);opacity:1;
    }
.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel img:nth-child(2) {
    transform:rotateY(45deg) translateZ(540px) scale(1);opacity:1;
    }
.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel img:nth-child(3) {
    transform:rotateY(90deg) translateZ(540px) scale(1);opacity:1;
    }
.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel img:nth-child(4) {
    transform:rotateY(135deg) translateZ(540px) scale(1);opacity:1;
    }
.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel img:nth-child(5) {
    transform:rotateY(180deg) translateZ(540px) scale(1);opacity:1;
    }
.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel img:nth-child(6) {
    transform:rotateY(225deg) translateZ(540px) scale(1);opacity:1;
    }
.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel img:nth-child(7) {
    transform:rotateY(270deg) translateZ(540px) scale(1);opacity:1;
    }
.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel img:nth-child(8) {
    transform:rotateY(315deg) translateZ(540px) scale(1);opacity:1;
    }