.nested-menu
  position relative

  > .navigation-list
    display none
    box-shadow $shadow-lighter

  &:hover
  &:focus
  &:focus-within
    > .navigation-list
      display block

  > .navigation-list > .item
    transition background-color $animation-fast linear

    &:hover
    &:focus
    &:focus-within
      background-color $gold
